<h1>Manage Bands</h1>

<div id="browse">
    <table border="1" cellpadding="5">
        <thead>
            <tr>
                <th>ID</th>
                <th>Band Name</th>
                <th>Genre</th>
                <th>Contact Email</th>
                <th>Estimated Draw</th>
                <th>Actions</th> </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{this.bandID}}</td>
                <td>{{this.bandName}}</td>
                <td>{{this.genre}}</td>
                <td>{{this.contactEmail}}</td>
                <td>{{this.estimatedDraw}}</td>
                <td>
                    <a href="/update-band/{{this.bandID}}">
                        <button>Edit</button>
                    </a>
                    <button>Delete</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <p>&nbsp;</p> </div>

<div id="insert">
    <h2>Add a New Band</h2>
    <form id="add-band-form" method="POST" action="/add-band-form">
        <fieldset>
            <legend>Band Details</legend>
            
            <label for="input-bandName">Band Name: </label>
            <input type="text" name="input-bandName" id="input-bandName" required>
            
            <label for="input-genre">Genre: </label>
            <input type="text" name="input-genre" id="input-genre">

            <label for="input-email">Contact Email: </label>
            <input type="email" name="input-email" id="input-email">

            <label for="input-estimatedDraw">Estimated Draw: </label>
            <input type="number" name="input-estimatedDraw" id="input-estimatedDraw">

            <input type="submit" value="Add Band">
        </fieldset>
    </form>
</div>
